In [1]:
import pandas as pd
import numpy as np

In [4]:
string_data=pd.Series(['HY','SHD','TYY',np.nan])
print(string_data)
print(string_data.isnull())

0     HY
1    SHD
2    TYY
3    NaN
dtype: object
0    False
1    False
2    False
3     True
dtype: bool

In [8]:
####数组中的数据缺失值
from numpy import nan as NA
data=pd.Series([1,3.5,NA,7])
print(data)
data_notnull=data.dropna()
data_=data[data.notnull()]
print(data_notnull)
print(data_)

0    1.0
1    3.5
2    NaN
3    7.0
dtype: float64
0    1.0
1    3.5
3    7.0
dtype: float64
0    1.0
1    3.5
3    7.0
dtype: float64

In [13]:
####Dataframe中的dropna默认去掉含有缺失值的行
data=pd.DataFrame([[1.,2.,4.,NA],[2.,3.5,3.8,2.3],[NA,NA,1.4,2.]])
print(data)
data_=data.dropna()
print(data_)
data_=data.dropna(axis=1)   ##去掉含空值的列
print(data_)
data_=data.dropna(how='all')  ##how='all'将只丢弃全为NA的那些行
print(data_)
data[4]=NA
print(data)

     0    1    2    3
0  1.0  2.0  4.0  NaN
1  2.0  3.5  3.8  2.3
2  NaN  NaN  1.4  2.0
     0    1    2    3
1  2.0  3.5  3.8  2.3
     2
0  4.0
1  3.8
2  1.4
     0    1    2    3
0  1.0  2.0  4.0  NaN
1  2.0  3.5  3.8  2.3
2  NaN  NaN  1.4  2.0
     0    1    2    3   4
0  1.0  2.0  4.0  NaN NaN
1  2.0  3.5  3.8  2.3 NaN
2  NaN  NaN  1.4  2.0 NaN

In [30]:
####另一个滤除DataFrame行的问题涉及时间序列问题。
df=pd.DataFrame(np.random.randn(7,3))
df.iloc[:2,1]=NA
df.iloc[4:,2]=NA
df
#****fillna方法是最主要的函数，通过一个常数调用fillna将会将缺失值替换为那个常数值
df0_=df.fillna(0)
df0_=df.fillna({1:0.5,2:4})
print(df0_)
df1_=df.fillna(method='ffill') ##ffill,如果首行为时候无法填补空值???(前向填补？)
print(df1_)
df1_=df.fillna(method='ffill',limit=2)
print(df1_)
##只要用创新，可以利用fillna实现许多别的功能。比如可以传入series的平均值或中值
data=pd.Series([1,2,NA,3.5,NA,NA])
print(data)
data_=data.fillna(data.mean())
print(data_)

          0         1         2
0 -2.401567  0.500000 -0.561173
1 -0.458906  0.500000  0.523892
2  0.628491  0.825728 -0.198167
3 -0.669035 -0.380065 -0.498422
4 -0.810017 -2.583806  4.000000
5 -0.234576  0.769076  4.000000
6  0.272793 -0.598800  4.000000
          0         1         2
0 -2.401567       NaN -0.561173
1 -0.458906       NaN  0.523892
2  0.628491  0.825728 -0.198167
3 -0.669035 -0.380065 -0.498422
4 -0.810017 -2.583806 -0.498422
5 -0.234576  0.769076 -0.498422
6  0.272793 -0.598800 -0.498422
          0         1         2
0 -2.401567       NaN -0.561173
1 -0.458906       NaN  0.523892
2  0.628491  0.825728 -0.198167
3 -0.669035 -0.380065 -0.498422
4 -0.810017 -2.583806 -0.498422
5 -0.234576  0.769076 -0.498422
6  0.272793 -0.598800       NaN
0    1.0
1    2.0
2    NaN
3    3.5
4    NaN
5    NaN
dtype: float64
0    1.000000
1    2.000000
2    2.166667
3    3.500000
4    2.166667
5    2.166667
dtype: float64

In [31]:
#7.2 数据转换

In [36]:
###移除重复数据
data=pd.DataFrame({'k1':['one','two']*3+['two'],'k2':[1,1,2,3,3,4,4]})
print(data)
data_=data.drop_duplicates(['k1','k2'],keep='last')
print(data_)

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4

In [43]:
####数据的映射。map可以接受一个函数或含有映射关系的字典对象。
data=pd.DataFrame({'name':['hy','shd','tyy'],'year':[24,23,22]})
print(data)
province={'hy':'Shandong','shd':'Anhui','tyy':'Liaoning'}
print(grade)
name=data['name']
data['province']=name.map(province)###i think it's important.
print(data)

  name  year
0   hy    24
1  shd    23
2  tyy    22
{'hy': 'Shandong', 'shd': 'Anhui', 'tyy': 'Liaoning'}
  name  year  province
0   hy    24  Shandong
1  shd    23     Anhui
2  tyy    22  Liaoning

In [47]:
###替换值
data=pd.Series([1.,99.,3.4,-999,-3])  ###-999有可能为缺失值
print(data)
data_=data.replace(-999,np.nan)
print(data_)
data_=data.replace([-999,-3],[np.nan,3])  ###让每个值有不同的替换值，可以传递一个替换列表
print(data_)
data_=data.replace({-999:np.nan,-3:3}) ###让每个值有不同的替换值，传入的参数也可以是字典
print(data_)

0      1.0
1     99.0
2      3.4
3   -999.0
4     -3.0
dtype: float64
0     1.0
1    99.0
2     3.4
3     NaN
4    -3.0
dtype: float64
0     1.0
1    99.0
2     3.4
3     NaN
4     3.0
dtype: float64
0     1.0
1    99.0
2     3.4
3     NaN
4     3.0
dtype: float64

In [62]:
###重命名轴索引
data=pd.DataFrame(np.arange(12).reshape((3,4)),index=['Ohio','Colorado','NewYork'],columns=['one','two','three','four'])
print(data)
transform=lambda x: x[:4].upper()
data_=data.index.map(transform)
print(data_)
data.index=data.index.map(transform)##将值赋给Index
print(data)
data0=data.rename(index=str.title,columns=str.upper)  ###rename的使用方法之一
print(data0)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
NewYork     8    9     10    11
Index(['OHIO', 'COLO', 'NEWY'], dtype='object')
      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEWY    8    9     10    11
      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
Newy    8    9     10    11

In [72]:
####离散化和面元划分（为了方便分析，连续数据常常被离散化或拆分为面元 bin)
ages=[20,23,24,26,27,28,30,31,35,27,39,42,61,89]  ##将数据划分为“18到25”，“26到35”，“35到60”以及“60以上”几个面元
bins=[18,25,35,60,100]
cats=pd.cut(ages,bins)
print(cats)  ##返回的是categorical对象，结果展示了pandas.cut划分的面元
print(pd.value_counts(cats))
####对于面元的那面是开区间，那面是闭区间可以通过right=False进行修改
cats2=pd.cut(ages,bins,right=False)
print(cats2)
group_names=['youth','youghadult','middleaged','senior']
cats3=pd.cut(ages,bins,labels=group_names)###可以传递一个列表或数组到labels，设置自己的面元名称
print(cats3)

###如果向cut中传入的是面元的数量而不是确切的面元边界，则塔会根据数据的最大值和最小值计算等长面元。
data=np.random.rand(20)
cats4=pd.cut(data,4,precision=2)
print(cats4)
cats5=pd.qcut(data,4)  ###qcut根据样本分位数对数据进行面元划分，因此可以得到大小基本相等的面元。
print(cats5)
print(pd.value_counts(cats4))
print(pd.value_counts(cats5))

[(18, 25], (18, 25], (18, 25], (25, 35], (25, 35], ..., (25, 35], (35, 60], (35, 60], (60, 100], (60, 100]]
Length: 14
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]
(25, 35]     7
(18, 25]     3
(60, 100]    2
(35, 60]     2
dtype: int64
[[18, 25), [18, 25), [18, 25), [25, 35), [25, 35), ..., [25, 35), [35, 60), [35, 60), [60, 100), [60, 100)]
Length: 14
Categories (4, interval[int64]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]
[youth, youth, youth, youghadult, youghadult, ..., youghadult, middleaged, middleaged, senior, senior]
Length: 14
Categories (4, object): [youth < youghadult < middleaged < senior]
[(0.72, 0.95], (0.0035, 0.24], (0.24, 0.48], (0.0035, 0.24], (0.72, 0.95], ..., (0.72, 0.95], (0.72, 0.95], (0.72, 0.95], (0.48, 0.72], (0.24, 0.48]]
Length: 20
Categories (4, interval[float64]): [(0.0035, 0.24] < (0.24, 0.48] < (0.48, 0.72] < (0.72, 0.95]]
[(0.558, 0.817], (0.227, 0.558], (0.227, 0.558], (0.0034400000000000003, 0.227], (0.817, 0.953], ..., (0.817, 0.953], (0.558, 0.817], (0.817, 0.953], (0.558, 0.817], (0.227, 0.558]]
Length: 20
Categories (4, interval[float64]): [(0.0034400000000000003, 0.227] < (0.227, 0.558] < (0.558, 0.817] < (0.817, 0.953]]
(0.72, 0.95]      7
(0.0035, 0.24]    6
(0.48, 0.72]      4
(0.24, 0.48]      3
dtype: int64
(0.817, 0.953]                    5
(0.558, 0.817]                    5
(0.227, 0.558]                    5
(0.0034400000000000003, 0.227]    5
dtype: int64

In [75]:
###检测和过滤异常值
data=pd.DataFrame(np.random.randn(1000,4))
data.describe()
col=data[2]
data1=col[np.abs(col)>3]
print(data1)

37     3.056983
97    -3.245128
118    3.150517
194   -3.836528
Name: 2, dtype: float64

In [76]:
###排列和随机采样
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))
print(df)
sampler=np.random.permutation(5)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [79]:
###计算指标/哑变量
df=pd.DataFrame({'key':['b','b','a','c'],'data1':range(4)})
pd.get_dummies(df['key'])
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3

In [82]:
val='a,b, guido'
val.split(',')
pieces=[x.strip() for x in val.split(',')]
pieces
val.replace(',','::')

'a::b:: guido'