In [2]:
import pandas as pd
import numpy as np

In [3]:
values=pd.Series(['apple','banana','apple','apple']*2)
values

0     apple
1    banana
2     apple
3     apple
4     apple
5    banana
6     apple
7     apple
dtype: object

In [5]:
pd.unique(values)
pd.value_counts(values)

apple     6
banana    2
dtype: int64

In [14]:
values=pd.Series([0,1,0,0]*2)
dim=pd.Series(['apple','banana'])
values
dim
dim.take(values)

0     apple
1    banana
0     apple
0     apple
0     apple
1    banana
0     apple
0     apple
dtype: object

In [28]:
fruits=['apple','orange','apple','apple']*2
fruits
n=len(fruits)
n
df=pd.DataFrame({'fruits':fruits,'basket_id':np.arange(n),'count':np.random.randint(3,15,size=n),'weight':np.random.uniform(0,4,size=n)},columns=['basket_id','fruits','count','weight'])
df
fruit_cat=df['fruits'].astype('category')
fruit_cat  ###注意，这里的fruit_cat不是一个numpy数组，而是一个pandas.categorical实例
c=fruit_cat.values
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [32]:
########用分类进行计算
draw=np.random.randn(1000)
draw
draw[:5]
bins=pd.qcut(draw,4)
bins

[(-0.0825, 0.614], (0.614, 3.038], (-0.723, -0.0825], (0.614, 3.038], (0.614, 3.038], ..., (-0.0825, 0.614], (-0.723, -0.0825], (0.614, 3.038], (-0.0825, 0.614], (-0.0825, 0.614]]
Length: 1000
Categories (4, interval[float64]): [(-3.264, -0.723] < (-0.723, -0.0825] < (-0.0825, 0.614] < (0.614, 3.038]]

In [33]:
bins=pd.Series(bins,name='quartile')
bins

0       (-0.0825, 0.614]
1         (0.614, 3.038]
2      (-0.723, -0.0825]
3         (0.614, 3.038]
4         (0.614, 3.038]
5      (-0.723, -0.0825]
6         (0.614, 3.038]
7      (-0.723, -0.0825]
8      (-0.723, -0.0825]
9       (-0.0825, 0.614]
10     (-0.723, -0.0825]
11     (-0.723, -0.0825]
12     (-0.723, -0.0825]
13        (0.614, 3.038]
14     (-0.723, -0.0825]
15        (0.614, 3.038]
16        (0.614, 3.038]
17      (-0.0825, 0.614]
18      (-3.264, -0.723]
19      (-0.0825, 0.614]
20        (0.614, 3.038]
21        (0.614, 3.038]
22     (-0.723, -0.0825]
23      (-0.0825, 0.614]
24        (0.614, 3.038]
25      (-0.0825, 0.614]
26        (0.614, 3.038]
27      (-3.264, -0.723]
28        (0.614, 3.038]
29      (-0.0825, 0.614]
             ...
970       (0.614, 3.038]
971     (-3.264, -0.723]
972       (0.614, 3.038]
973     (-3.264, -0.723]
974       (0.614, 3.038]
975    (-0.723, -0.0825]
976     (-3.264, -0.723]
977       (0.614, 3.038]
978     (-3.264, -0.723]
979     (-0.0825, 0.614]
980       (0.614, 3.038]
981       (0.614, 3.038]
982     (-0.0825, 0.614]
983     (-3.264, -0.723]
984    (-0.723, -0.0825]
985       (0.614, 3.038]
986     (-3.264, -0.723]
987     (-0.0825, 0.614]
988     (-0.0825, 0.614]
989       (0.614, 3.038]
990     (-3.264, -0.723]
991    (-0.723, -0.0825]
992    (-0.723, -0.0825]
993     (-0.0825, 0.614]
994       (0.614, 3.038]
995     (-0.0825, 0.614]
996    (-0.723, -0.0825]
997       (0.614, 3.038]
998     (-0.0825, 0.614]
999     (-0.0825, 0.614]
Name: quartile, Length: 1000, dtype: category
Categories (4, interval[float64]): [(-3.264, -0.723] < (-0.723, -0.0825] < (-0.0825, 0.614] < (0.614, 3.038]]

In [7]:
######分组的时间重采样
N=15
times=pd.date_range('2017-05-20 00:00',freq='1min',periods=N)
times
df=pd.DataFrame({'time':times,'value':np.arange(N)})
df
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5